<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wn.web.mapper.PictureMapper">

    <!--根据景点id查找对应的前三张图片-->
    <select id="findTop3" resultType="Picture">
        select * from pictures_p where picture_id in(
        select picture_id from spots_picture_p where spots_id=#{spotsId}
        ) limit 3
    </select>

    <!--根据景点id查找景点所有图片-->
    <select id="findPicturesById" resultType="Picture">

        select * from pictures_p where picture_id in(
        select picture_id from spots_picture_p where spots_id=#{spotsId}
        )
    </select>

    <!--保存图片-->
    <insert id="savePicture">
        INSERT INTO pictures_p VALUES (
            #{pictureId},
            #{imgurl,jdbcType=VARCHAR},
            #{state},
            #{orderNo},
            #{remark},
            #{createBy,jdbcType=VARCHAR},
            #{createTime,jdbcType=DATE},
            #{updateBy,jdbcType=VARCHAR},
            #{updateTime,jdbcType=DATE})
    </insert>

    <!--图片的修改-->
    <update id="updatePicture">
        UPDATE pictures_p
        <set>
            <if test="imgurl">imgurl=#{imgurl},</if>
            <if test="state">state=#{state},</if>
            <if test="orderNo">order_no=#{orderNo},</if>
            <if test="remark">remark=#{remark},</if>
            <if test="createBy!=null">create_by= #{createBy},</if>
            <if test="createTime!=null">create_time= #{createTime},</if>
            <if test="updateBy!=null">update_by= #{updateBy},</if>
            <if test="updateTime!=null">update_time= #{updateTime},</if>
        </set>
        WHERE picture_id=#{pictureId}
    </update>

    <!--删除图片信息-->
    <delete id="deletePicture">
        DELETE FROM pictures_p WHERE picture_id=#{pictureId}
    </delete>
</mapper>