<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wn.backend.manage.mapper.FlowMapperr">
    <!--查找所有的类别信息-->
    <select id="findAllFlow" resultType="Flow">
        SELECT * FROM flow_p
    </select>

</mapper>